nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: calc(0.625rem + 5px) 0 0.625rem;
  
  svg {
    height: 37px;
    width: auto;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, $gradient1, $gradient2);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    -webkit-animation: gradient 5s ease infinite;
    -moz-animation: gradient 5s ease infinite;
  }
}

@-webkit-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes gradient { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

section[name="social"] {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1rem;
  a {
    svg {
      height: 16px;
      path {
        fill: white;
        transition: fill ease-in-out 0.15s;
      }
    }
  }
}