@import url('https://fonts.googleapis.com/css?family=Asap:700i|Open+Sans:400,400i,700');

html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1, h2, h3 {
  font-family: 'Asap', sans-serif;
  font-weight: bold;
  font-style: italic;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  &.black {
    color: black;
    background-blend-mode: overlay;
  }
  &:hover, &:focus {
    color: inherit;
  }
}